<ons-page class="center">
	
	<ons-scroller>
	
		<ons-navigator-toolbar title="Browse"></ons-navigator-toolbar>

		<ons-button id="indexbutton" class="topcoat-button" type="large--cta" ng-click="ons.navigator.pushPage('browse1.html')">ORF, Verified</ons-button>
          			
        <ons-button id="indexbutton" class="topcoat-button" type="large" ng-click="ons.navigator.pushPage('browse2.html')">ORF, Uncharacterized</ons-button> 
          			
        <ons-button id="indexbutton" class="topcoat-button" type="large--cta" ng-click="ons.navigator.pushPage('browse3.html')">ORF, Dubious</ons-button> 
          			
        <ons-button id="indexbutton" class="topcoat-button" type="large" ng-click="ons.navigator.pushPage('browse4.html')">ncRNA</ons-button> 
        
        <ons-button id="indexbutton" class="topcoat-button" type="large--cta" ng-click="ons.navigator.pushPage('browse5.html')">rRNA</ons-button> 
          			
        <ons-button id="indexbutton" class="topcoat-button" type="large" ng-click="ons.navigator.pushPage('browse6.html')">snRNA</ons-button> 
		
		<ons-button id="indexbutton" class="topcoat-button" type="large--cta" ng-click="ons.navigator.pushPage('browse7.html')">snoRNA</ons-button> 
          			
        <ons-button id="indexbutton" class="topcoat-button" type="large" ng-click="ons.navigator.pushPage('browse8.html')">tRNA</ons-button> 

	</ons-scroller>

</ons-page>